.some-page-wrapper{
   width: 400px;
    img{
        
            width: 100%;
            height: auto;
            max-width: 264px;
         
    }
}
.responsive {
    width: 100%;
    height: auto;
    max-width: 264px;
  }