<div class="container maincontainer">
    <div class="col-sm-12 col-lg-10 offset-lg-2 ">
        <div class="jumbotron">
            <div class="container">
                <div class="row" *ngFor="let obj of pagedata; trackBy: trackByFn">
                    <div class="col-md-4 col-lg-4 justify-content-left">
                        <img class="responsive" src="{{obj.better_featured_image.source_url}}">
                    </div>
                    <div class="col-md-8 col-lg-8 justify-content-left pt-2" [innerHTML]="obj.content.rendered">                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>