<div class="container maincontainer">
    <div class="col-sm-12 col-lg-10 offset-lg-2 ">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 justify-content-left">
                        <img class="responsive" src="../../assets/images/p4_poetry.png">
                    </div>
                    <div class="col-md-8 col-lg-8 justify-content-left pt-2">
                        <h1>Läsfrämjande</h1>
                        <p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit
                            standard ända
                            sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att
                            göra ett
                            provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även
                            övergången till
                            elektronisk typografi utan större förändringar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>